<!doctype html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>ShroomHunt</title>
    <link rel="icon" href="../assets/special_shroom.gif" type="image/x-icon"/>
</head>
<style type="text/css">
    body {
        background-color: black;
    }
    div#stats {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 500;
        width: max(200px, 10vw, 10vh);
        height: max(100px, 6vh, 6vw);
        opacity: 0.8;
        user-select: none;
    }
</style>

<body>
    <canvas id="gameCanvas"></canvas>
    <script src="../src/main.ts"></script>
</body>

</html>